# Ignore node_modules to avoid uploading huge dependencies
node_modules/

# Ignore environment variables (secrets)
.env

# Ignore logs
*.log

# Ignore build output (optional if you compile)
dist/
build/
